* {
	box-sizing: border-box;

}

body {
	width: 960px;
	display: inline;
	background-image: url(../../assets/images/gray_jean/gray_jean/gray_jean.png);
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	border: 1px solid #dddddd;
	height: 74px;
	background-color: #ffffff;
	clear: both;
}

.header h1 {
	text-align: center;
	float: left;
	font-size: 26px;
	font-weight: bold;
	height: 74px;
	width: 300px;
	margin: 0px 130px 0px 130px; 
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.header ul {
	text-align: center;
	width: 200px;
	height: 74px;
	padding-top: 26px;
	padding-bottom: 26px;
	margin-left: 210px;
	float: left;
	font-size: small;
	font-weight: bold;
	text-decoration: none;
}

.header li {
	padding-left: 5px;
	display: inline;
	list-style-type: none;
}

.header span {
	margin-left: 10px;
}

.header a {
	text-decoration: none;
	color: #777777;
}

#main-content {
	float: left;
	border: 1px solid #dddddd;
	margin: 36px 37px 43px 130px; 
	height: 410px;
	width: 555px;
	background-color: #ffffff;
}

#main-content h2 {
	color: #4aaaa5;
	padding-bottom: 20px;
	margin-top: 30px;
	font-weight: bold;
	font-size: 26px;
	margin-left: 25px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#main-content img {
	width: 171px;
	margin: 25px 23px 20px 25px;
	float: left;
}

#main-content div {
	margin-left: 25px;
	margin-right: 18px;
}

#main-content p {
	line-height: 200%;
	margin-top: 17px;
	text-align: left;
}

#gray-bar {
	height: 2px;
	background-color: #dddddd;
}

.container {
	height: 484px;
	clear: both;
}

.sidebar {
	border: 1px solid #dddddd;
	background-color: #ffffff;
	float: left;
	margin-top: 36px;
	height: 172px;
	width: 230px;
}

.sidebar h3 {
	color: #4aaaa5;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
	margin-left: 25px;
	padding-bottom: 13px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.sidebar ul {
	margin-top: 23px;
	margin-left: 35px;
	padding: 0;
	text-decoration: none;
}

.sidebar li {
	display: inline;
}

.small-gray-bar {
	height: 2px;
	margin-left: 16px;
	margin-right: 16px;
	background-color: #dddddd;
}

#green-bar {
	width: 100%;
	height: 7px;
	margin-bottom: -9px;
	background-color: #4aaaa5;
}

#footer {
	height: 70px;
	margin: 0 auto -155px;
	clear: both;
	background-color: #666666;

}

#footer p {
	padding-top: 25px;
	font-size: xx-small;
	font color: #ffffff;
	text-align: center;
} 

#contact  {
	float: left;
	height: 420px;
	width: 430px;
	border: 1px solid #dddddd; 
	background-color: #ffffff;
	margin-left: 130px;
	margin-top: 36px;
	margin-right: 130px;
}

#contact h2 {
	font-size: 26px;
	font-weight: bold;
	color: #4aaaa5;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 20px;
}

#contact-gray-bar {
	height: 2px;
	background-color: #dddddd;
	margin-left: 20px;
	margin-right: 20px;
}

#contact form {
	font-size: small;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 20px;
}

#contact input {
	border: 1px solid #dddddd; 
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 219px;
}

#message {
	padding-bottom: 137px;
}

#button {
	border: 1px solid #4aaaa5; 
	height: 28px;
	width: 80px;
	margin-left: 20px;
	text-align: center;
	background-color: #4aaaa5;
	color: #ffffff;
}

#portfolio {
	float: left;
	margin: 35px 150px 30px 129px;
	border: 1px solid #dddddd; 
	height: 520px;
	width: 425px;
	background-color: #ffffff;
}

#portfolio img {
	border: 0px solid #dddddd; 
	margin-right: 24px;
	margin-bottom: 10px;
}

#portfolio h2 {
	font-size: 26px;
	font-weight: bold;
	color: #4aaaa5;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 20px;
}

#port-gray-bar {
	height: 2px;
	background-color: #dddddd;
	margin: -12px 20px 19px 20px;
}

.row {
	margin-left: 17px;
	display: inline;
	position: relative;
	width: 180px;
}

.left_pic {
	color: #ffffff;
	margin-top: -60px;
	margin-left: 17px;
	margin-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	text-align: center;
	width: 180px;
	height: 40px;
	background-color: #4aaaa5;
}

.right_pic {
	color: #ffffff;
	margin-top: -60px;
	margin-left: 225px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	text-align: center;
	width: 180px;
	height: 40px;
	background-color: #4aaaa5; 
}

@media screen and (max-width: 980px) {
	body {
		width: 100%;
	}

	.header ul {
		margin-left: 0px;
	}

	.header section {
		width: 0px;
		display: inline;
	}

	#main-content {
		width: 255px;
		height: 672px;
		font-size: smaller;
	}

	#main-content img {
		width: 80%;
	}

	#portfolio {
		height: 865px;
		width: 255px;
		margin-bottom: 35px;
	}

	.left-row {
		margin-left: 18px;
	}

	.right-row {
		margin-left: 36px;
	}

	.left_pic {
		margin-left: 35px;
	}

	.right_pic {
		margin-left: 36px;
	}

	#contact {
		height: 430px;
		width: 410px;
		margin-left: 80px;
	}

	#contact h2 {
		font-weight: bold;
	}

	#contact input {
		padding-right: 198px;
	}
}


@media screen and (max-width: 768px) {
	body {
		width: 100%;
	}

	.header h1 {
		margin: 0px;
		margin-left: 20px;
	}

	.header ul {
		margin-left: 135px;
	}

	.header section {
		width: 0px;
		display: inline;
	}

	#main-content {
		margin-left: 22px;
		width: 710px;
		height: 400px;
		font-weight: bold;
	}

	#main-content img {
		width: 30%;
	}

	.sidebar {
		margin-top: -10px;
		margin-left: 22px;
		margin-bottom: 35px;
		width: 710px;
	}

	#portfolio {
		height: 715px;
		width: 710px;
		margin: 0px;
		margin-left: 22px;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#portfolio img {
		margin-right: 58px;
	}

	.left-row {
		width: 245px;
		margin-left: 38px;
	}

	.right-row {
		width: 245px;
		margin-left: 38px;
	}

	.right_pic {
		width: 245px;
		margin-left: 400px;
	}

	.left_pic {
		width: 245px;
		margin-left: 55px;
	}

	#contact {
		height: 460px;
		width: 710px;
		margin-left: 22px;
		margin-bottom: 40px;
	}

	#contact input {
		padding-right: 72%;
	}

	#contact button {
		margin-top: 20px;
	}

}

@media screen and (max-width: 640px) {
	body {
		width: 100%;
	}

	.header {
		position: static;
	}

	.header h1 {
		text-align: center;
		margin-left: -10px;
		width: 640px;
		margin: 0px;
	}

	.header section {
		height: 64px;
		width: 640px;
		margin-top: 73px;
		position: static;
		background-color: white;
	}

	.header ul {
		background-color: white;
		width: 680px;
		margin: 0px;
		margin-left: -62px;
		font-size: medium;
		text-align: center;	
	}

	.header li {
		padding-left: 65px;
		margin-left: 10px;
	}

	.header span {
		padding-left: 55px;
	}

	#main-content {
		width: 580px;
		height: 700px;
		margin: 0px;
		margin-left: 20px;
		margin-top: 20px;
	}

	#main-content img {
		width: 78%;
		height: 57%;
		margin-left: 67px;
	}

	.sidebar {
		width: 580px;
		margin: 0px;
		margin-top: 20px;
		margin-left: 20px;
		margin-bottom: 35px;
	}

	#portfolio {
		width: 581px;
		height: 2072px;
		margin-left: 19px;
	}

	.left-row {
		height: 375px;
		width: 500px;
		margin-left: 22px;
	}

	.right-row {
		height: 375px;
		width: 500px;
		margin-left: 39px;
	}

	.left_pic {
		width: 500px;
		margin-left: 39px;
	}

	.right_pic {
		width: 500px;
		margin-left: 39px;
	}

	#contact {
		width: 577px;
	}

	#contact input {
		width: 96%;
	}

}
